@{
	ViewData["Title"] = "Đổi mật khẩu";
}
<link rel="stylesheet" href="~/css/register.css" />
<table>
	<tr>
		<td style="vertical-align: top; white-space: nowrap;">
			<partial name="~/Views/Shared/_LeftMenu.cshtml" />
		</td>
		<td style="vertical-align: top; width: 100%;">
			<div class="contentpage">
				<table class="contenttd">
					<tr>
						<td>Tài khoản</td>
						<td><span style="padding: 5px;" id="userName"></span></td>
					</tr>
					<tr>
						<td>Mật khẩu hiện tại</td>
						<td><input id="password" name="password" type="password" /></td>
					</tr>
					<tr>
						<td>Mật khẩu mới</td>
						<td><input id="newpassword" name="newpassword" type="password" /></td>
					</tr>
					<tr>
						<td>Xác nhận mật khẩu mới</td>
						<td><input id="confirmnewpassword" type="password" /></td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: center;">
							<button type="submit" class="button-style">Xác nhận</button>
						</td>
					</tr>
				</table>
			</div>
		</td>
	</tr>
</table>
@section Scripts {
	<script type="text/javascript">
		$(document).ready(function() {
			var tokenObject = JSON.parse(getCookie('token'));
			$('#userName').text(tokenObject.account);
			$("button[type=submit]").click(function() {
				if ($('#password').val() == '' || $('#newpassword').val() == '') {
					setDialogText('Vui lòng xác nhận mật khẩu!');
					myModal.show();
					return;
				}
				if ($('#confirmnewpassword').val() != $('#newpassword').val()) {
					setDialogText('Mật khẩu mới không trùng khớp!');
					myModal.show();
					return;
				}
				$('#dialog').show();
				var retData;
				var password = $('#password').val();
				var encrypted = encryptString(password, key, iv);
				var encryptedNewPassword = encryptString($('#newpassword').val(), key, iv);
				$.ajax({
					type: 'POST',
					dataType:"json",
					data: JSON.stringify({
						"Name": $('#userName').text(),
						"Password": encrypted,
						"NewPassword": encryptedNewPassword
					}),
					url: '@Url.Action("ChangePass", "Home")',
					headers:{
						'Authorization' : 'Bearer ' + tokenObject.token,
						'Content-Type':'application/json'
					},
					success: function(data) {
						retData = data;
					},
					error: function(data) {
						console.log(data);
					},
					complete: function(data) {
						console.log(data);
						$('#dialog').hide();
						if (retData && retData.retCode == 0) {
							var url = '@Url.Action("Index", "Home")';
							window.location.href = url;
							return;
						}
						if (retData) {
							setDialogText(retData.message);
							myModal.show();
						}
					}
				});
			});
		});
	</script>
}