@{
	ViewData["Title"] = "Trang chủ";
}
<table>
	<tr>
		<td style="vertical-align: top;">
			<partial name="~/Views/Shared/_LeftMenu.cshtml" />
		</td>
		<td style="vertical-align: top;">
			<div class="contentpage">
				Tải Game
				Bạn có thể lựa chọn một trong các Link sau để tải<br />

				BẢN CÀI ĐẶT FULL (có đầy đủ nhạc và âm thanh)<br />

				Máy Chủ	Link Download	Dung Lượng	Ngày cập nhật<br />
				Google	Click Vào Đây Để Tải	1.8G	30-03-2025<br />
				Việt Nam	Click Vào Đây Để Tải	1.8G	30-03-2025<br />




				Phần mềm hỗ trợ cần thiết<br />

				Tên Phần Mềm	Link Download	Dung Lượng	Ngày cập nhật<br />
				Microsoft Visual C++ 2010 SP1 (x86)	Click Vào Đây Để Tải	5 MB	01-01-2024<br />
				Visual C++ 2012 Update 4	Click Vào Đây Để Tải	6 MB	01-01-2024<br />
				Microsoft .NET Framework 4.5.1	Click Vào Đây Để Tải	66 MB	01-01-2024<br />
				Hỗ trợ cài .NET Framework	Click Vào Đây Để Tải	3 MB	01-01-2024
				Team Viewer (Support trực tuyến)	Click Vào Đây Để Tải	5 MB	01-01-2024


				Khắc phục một số lỗi thường gặp

				Lỗi xuất hiện	Cách khắc phục
				Không mở được Launcher	Bị lỗi hoặc chưa cài .netFrameWork Tải ở đây
				Mở và treo ở màn hình chờ (1)	Kiểm tra đường dẫn thư mục game, không được chứa tiếng Việt có dấu
				Mở và treo ở màn hình chờ (2)	Lỗi cửa sổ game: Thử thay đổi kích thước cửa sổ game ở Launcher
				Báo lỗi "could not get GL version information"	Cập nhật Driver màn hình cho máy tính
				Báo lỗi "The code execution cannot processed because MSVCR100.DLL is missing from your computer. Try reinstalling the program to fix this problem."	Máy tính bị thiếu thư viện. Mở thư mục "Fix MSVCP100" trong thư mục game rồi chọn Install_all để hệ thống tự cài
				Thử mọi cách vẫn không vào được?	Liên hệ bộ phận hỗ trợ
				IGC.DLL was not found
				Thiếu file do bị window xoá nhầm.

				Tải phần mềm vô hiệu hoá Window defender tại đây
			</div>
		</td>
	</tr>
</table>