@{
	ViewData["Title"] = "Đăng ký tài khoản";
}
<style type="text/css">
	.button-style {
		width: auto; /* margin-bottom: 15px; */
		height: 36px; /* position: relative; */
		border: none;
		cursor: pointer;
		line-height: 0;
		text-transform: capitalize;
		padding: 0 21px 2px 21px;
		vertical-align: top;
		margin: 5px 0px 14px 0px;
		background: #bc442b;
		font-family: 'Ebrima';
		font-size: 13px;
		color: #FFFFFF;
		text-transform: uppercase;
		font-weight: normal;
		border-radius: 3px;
		text-shadow: 0 0 6px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.55);
		box-shadow: inset 0 2px 0 #ca4c32, inset 0 0 8px rgba(0, 0, 0, 0.13), 0 0 7px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.18);
		transition: all 500ms;
		-moz-transition: all 500ms;
		-webkit-transition: all 500ms;
		-o-transition: all 500ms;
	}

	.contenttd {
		width: 100%;
	}

		.contenttd td {
			border: 1px solid #8f8f8f;
			min-height: 30px;
		}

		.contenttd input[type=text],
		.contenttd input[type=email],
		.contenttd input[type=password] {
			width: calc(100% - 10px);
			margin: 5px;
		}

		.contenttd input[type=checkbox] {
			margin: 15px 5px 15px 5px;
		}

		.contenttd img {
			height: 30px;
		}

	.dialog {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: #fff;
		opacity: 0.5;
		z-index: 999999;
		text-align: center;
		vertical-align: middle;
	}

		.dialog img {
			display: inline-block;
			margin-top: 40vh;
		}
</style>

<table>
	<tr>
		<td style="vertical-align: top; white-space: nowrap;">
			@Html.Partial("~/Views/Shared/_LeftMenu.cshtml")
		</td>
		<td style="vertical-align: top; width: 100%;">
			<div class="contentpage">
				<table class="contenttd">
					<tr>
						<td style="white-space: nowrap;">Tên đăng nhập: </td>
						<td style="width: 100%;">
							<input type="text" id="name" name="name" />
						</td>
					</tr>
					<tr>
						<td>Email: </td>
						<td>
							<input type="email" id="email" name="email" />
						</td>
					</tr>
					<tr>
						<td>Mật khẩu: </td>
						<td>
							<input id="password" name="password" type="password" />
						</td>
					</tr>
					<tr>
						<td style="white-space: nowrap;">Xác nhận mật khẩu: </td>
						<td>
							<input type="password" />
						</td>
					</tr>
					<tr>
						<td style="text-align: center;">
							<img src="https://ht.dammemu.com/ajax/captcha/200/50/170/6/24/captcha_text_reg" alt="CAPTCHA" id="captcha_image_reg">
						</td>
						<td>
							<input type="text" />
						</td>
					</tr>
					<tr>
						<td colspan="2"><input name="confirmed" type="checkbox" />Tôi đã đọc và đồng ý <a href="">quy định</a></td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: center;">
							<button type="submit" class="button-style">Xác nhận</button>
						</td>
					</tr>
				</table>
			</div>
		</td>
	</tr>
</table>

<div id="dialog" class="dialog full" style="display: none;">
	<img src="/images/loading1.gif" />
</div>

<div id="myModal" class="modal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">THÔNG BÁO</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Vui lòng xác nhận đồng ý các điều khoản & quy định!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				@* <button type="button" class="btn btn-primary">Save changes</button> *@
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		function setDialogText(text) {
			$('#myModal .modal-body p').text(text);
		}
		$(document).ready(function() {
			var myModal = new bootstrap.Modal(document.getElementById('myModal'), {
				keyboard: false
			});
			$("button[type=submit]").click(function() {
				if ($('input:checkbox[name=confirmed]').is(':checked') == false) {
					setDialogText('Vui lòng xác nhận đồng ý các điều khoản & quy định!');
					myModal.show();
					return;
				}
				$('#dialog').show();
				var retData;
				$.ajax({
					type: 'POST',
					dataType:"json",
					data: JSON.stringify({
						"Name": $('#name').val(),
						"Email": $('#email').val(),
						"Password": $('#password').val()
					}),
					url: '@Url.Action("Register", "Home")',
					headers:{
						'Authorization' : 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBWZXIiOiIwLjAuMCIsImV4cCI6NDcyNjM4OTEyMiwibG9jYWxlIjoiIiwibWFzdGVyVmVyIjoiIiwicGxhdGZvcm0iOiIiLCJwbGF0Zm9ybVZlciI6IiIsInVzZXJJZCI6IiJ9.QIZbmB5_9Xlap_gDhjETfMI6EAmR15yBtIQkWFWJkrg',
						'Content-Type':'application/json'
					},
					success: function(data) {
						retData = data;
					},
					error: function(data) {
						console.log(data);
					},
					complete: function(data) {
						console.log(data);
						$('#dialog').hide();
						if (retData && retData.retCode == 0) {
							var url = '@Url.Action("Index", "Home")';
							window.location.href = url;
							return;
						}
						if (retData) {
							setDialogText(retData.message);
							myModal.show();
						}
					}
				});
			});
		});
	</script>
}