@{
	ViewData["Title"] = "Đăng ký tài khoản";
}
<link rel="stylesheet" href="~/css/register.css" />
<table>
	<tr>
		<td style="vertical-align: top; white-space: nowrap;">
			<partial name="~/Views/Shared/_LeftMenu.cshtml" />
		</td>
		<td style="vertical-align: top; width: 100%;">
			<div class="contentpage">
				<table class="contenttd">
					<tr>
						<td style="white-space: nowrap;">Tên đăng nhập: </td>
						<td style="width: 100%;">
							<input type="text" id="name" name="name" />
						</td>
					</tr>
					<tr>
						<td>Email: </td>
						<td>
							<input type="email" id="email" name="email" />
						</td>
					</tr>
					<tr>
						<td>Mật khẩu: </td>
						<td>
							<input id="password" name="password" type="password" />
						</td>
					</tr>
					<tr>
						<td style="white-space: nowrap;">Xác nhận mật khẩu: </td>
						<td>
							<input type="password" />
						</td>
					</tr>
					<tr>
						<td style="text-align: center;">
							<img src="https://ht.dammemu.com/ajax/captcha/200/50/170/6/24/captcha_text_reg" alt="CAPTCHA" id="captcha_image_reg">
						</td>
						<td>
							<input type="text" />
						</td>
					</tr>
					<tr>
						<td colspan="2"><input name="confirmed" type="checkbox" />Tôi đã đọc và đồng ý <a href="">quy định</a></td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: center;">
							<button type="submit" class="button-style">Xác nhận</button>
						</td>
					</tr>
				</table>
			</div>
		</td>
	</tr>
</table>

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function() {
			$("button[type=submit]").click(function() {
				if ($('input:checkbox[name=confirmed]').is(':checked') == false) {
					setDialogText('Vui lòng xác nhận đồng ý các điều khoản & quy định!');
					myModal.show();
					return;
				}
				$('#dialog').show();
				var retData;
				var password = $('#password').val();
				var encrypted = encryptString(password, key, iv);
				$.ajax({
					type: 'POST',
					dataType:"json",
					data: JSON.stringify({
						"Name": $('#name').val(),
						"Email": $('#email').val(),
						"Password": encrypted
					}),
					url: '@Url.Action("Register", "Home")',
					headers:{
						'Authorization' : 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBWZXIiOiIwLjAuMCIsImV4cCI6NDcyNjM4OTEyMiwibG9jYWxlIjoiIiwibWFzdGVyVmVyIjoiIiwicGxhdGZvcm0iOiIiLCJwbGF0Zm9ybVZlciI6IiIsInVzZXJJZCI6IiJ9.QIZbmB5_9Xlap_gDhjETfMI6EAmR15yBtIQkWFWJkrg',
						'Content-Type':'application/json'
					},
					success: function(data) {
						retData = data;
					},
					error: function(data) {
						console.log(data);
					},
					complete: function(data) {
						console.log(data);
						$('#dialog').hide();
						if (retData && retData.retCode == 0) {
							var url = '@Url.Action("Index", "Home")';
							window.location.href = url;
							return;
						}
						if (retData) {
							setDialogText(retData.message);
							myModal.show();
						}
					}
				});
			});
		});
	</script>
}